basic-sample/src/META-INF/student.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
           targetNamespace="http://com.nero.spring/nerocustom">
    <xs:element name="student">
        <xs:complexType>
            <xs:attribute name="id" type="xs:string"/>
            <xs:attribute name="name" type="xs:string"/>
            <xs:attribute name="book" type="xs:string"/>
        </xs:complexType>
    </xs:element>
</xs:schema>